<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row" > 
  <div class="col">

    <!-- form -->
    <div class="container-sm containerclass">
    <div class="card">
      <h1 style="text-align: center;">Flight Ticket Booking </h1>
      <div class="card-header cardheader">
        <h3 style="text-align: center;">Round Trip </h3>
      </div>
      <div class="card-body">
         <form [formGroup]="formdata" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col">
              <label class="labelclass">From</label>
              <input type="text" formControlName = "from" class="form-control" placeholder="Enter Dispatch city" aria-label="First name">
            </div>
            <div class="col">
              <label class="labelclass">To</label>
              <input type="text" formControlName = "to" class="form-control" placeholder="Enter Destination city" aria-label="Last name">
            </div>
          </div>
          <div class="row" style="padding-top:5px ;">
            <div class="col">
              <label class="labelclass">Depart</label>
              <input type="date" formControlName = "depart" class="form-control" aria-label="age">
            </div>
            <div class="col">
              <label class="labelclass">Return</label>
              <input type="date" formControlName = "return" class="form-control" placeholder="Mobile number" aria-label="age">
            </div>
            <div class="col">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Class
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">Economic</button>
                  <button class="dropdown-item" type="button">Ac</button>
                  <button class="dropdown-item" type="button">General</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <span class="form-label" style="color: rgb(220, 184, 24);">Adults(12+ yrs)</span>
                <select class="form-control" formControlName="adult">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                <span class="select-arrow"></span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <span class="form-label" style="color: rgb(220, 184, 24);">Child(2-11 yrs</span>
                <select class="form-control" formControlName="child">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                </select>
                <span class="select-arrow"></span>
              </div>
            </div>
            <div class="row">
            <div class="col" *ngIf="!isedit">
              <button class="btn" type="submit">Search Flights</button>
            </div>
            <div class="col" >
              <button class="btn btn-danger" (click)= "onCancel()" type="button">Cancel</button>
            </div>
            <div class="col" *ngIf="isedit">
              <button class="btn btn-success" type="button" (click)="onUpdate()">Update</button>
            </div>
            </div>
          </div>
         </form>
      </div>
    </div>

    </div>
    </div>
    <div class="col" style="padding-top: 5px;">
      <table class="table table-bordered" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Depart</th>
            <th scope="col">Return</th>
            <th scope="col">Childern</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userdata of listOfData; let i = index">

            <th scope="row">{{i}}</th>
            <td>{{userdata?.from}}</td>
            <td>{{userdata?.to}}</td>
            <td>{{userdata?.depart}}</td>
            <td>{{userdata?.return}}</td>
            <td>{{userdata?.child}}</td>

            <td (click)="onEdit(i)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </td>
            <td (click) = "onDelete(userdata)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
              </svg>
            </td>
          
          </tr>
        </tbody>
      </table>

    </div>
</div>