<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body class="imageclass">
<form
      action=""
        [formGroup] = "signupForm"
        (ngSubmit) ="signUp()"
      >
      
      <div class="full">
        <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card">
           <div>
          <label for="username">Username</label>
          <input type="text"  formControlName="username"  minlength="3" maxlength="20" required>
          <span class="text-danger" *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')">Username required!!</span></div>
          <div>
          <label for="email">Email</label>
          <input type="email"formControlName="email"name="email" required>
          <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">Email required!!</span></div>
          <div>
          <label for="password">Password</label>
          <input type="password" formControlName="password" name="password"  required minlength="6"/>
          <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">Password required!!</span></div>
       
       
          <div>
          <button class="btn btn-primary btn-block" [disabled]="!signupForm.valid" (click)="signUp()">Sign Up</button></div>
          <a routerLink="/login">Already registered? Click to login</a>
        </div>
       
        </form>
      </body>
