.border{
    text-align: center;
    margin-top: 10%;
    margin-left:30% ;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    width: 300px;
    border:2px solid grey;
    box-shadow: 10px 5px rgb(126, 107, 155);
    justify-content: center;
    color: white;
    
    
    
}
h1 {
    text-transform: capitalize;
    color: white;
}
.imageclass{
    background-image: url("img/mobile-background-flight.jpg");
}
* {
    box-sizing: border-box;
  }